@layer blocks {
  .container {
    --canvas-z-index: var(--layer-canvas);

    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: var(--canvas-z-index);
    pointer-events: auto;
    overflow: hidden;
  }
}
