.canvasContainer {
  inline-size: 100vw;
  block-size: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--surface-canvas-bg);
}

.canvasContainer canvas {
  position: relative;
  z-index: var(--layer-canvas);
}
