@layer composition {
  .frame {
    --frame-ratio: 16 / 9;

    aspect-ratio: var(--frame-ratio);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .frame > img,
  .frame > video,
  .frame > canvas {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}

@layer exceptions {
  .frame[data-ratio="1:1"] { --frame-ratio: 1 / 1; }
  .frame[data-ratio="16:9"] { --frame-ratio: 16 / 9; }
  .frame[data-ratio="4:3"] { --frame-ratio: 4 / 3; }
  .frame[data-ratio="21:9"] { --frame-ratio: 21 / 9; }
}
