@import './styles/layers.css';
@import './styles/tokens.css';

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--surface-canvas-bg);
    color: var(--content-default);
    font-family: var(--font-interface);
    font-size: var(--type-scale-0);

    /* Make it feel like a native app */
    overscroll-behavior-y: none; /* Prevents pull-to-refresh on mobile */
    overscroll-behavior-x: none; /* Prevents swipe navigation */
    -webkit-touch-callout: none; /* Disables the iOS popup on long press */
    user-select: none; /* Disables text selection (can be re-enabled on specific text elements) */
    -webkit-user-select: none;
    touch-action: none; /* Prevents browser handling of gestures so our 3D canvas can handle them */
  }

  canvas {
    position: relative;
    z-index: 1;
  }
}

